<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanshifu.demo.anrmonitor" >

    <application
        android:name="com.hehongdan.anr.plan3.ANRWatchdogTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyNativeApplication" >

        <activity android:name="com.hehongdan.anr.plan1.Monitor1Activity" />
        <activity android:name="com.hehongdan.anr.plan3.Monitor3Activity" />
        <activity android:name="com.hehongdan.anr.plan4.Monitor4Activity" />
        <activity android:name="com.hehongdan.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>